.header {
  z-index: 99;
  position: fixed;
  background-color: white;
  height: 100px;
  padding: 0px 30px 0px 30px;
  width: 100%;
  font-family: fantasy;
  text-align: center;
  margin-left: -10px;
  margin-top: -10px; }
  @media only screen and (max-width: 768px) {
    .header {
      width: 100%; } }
  .header .menu-button {
    width: 0px;
    height: 0px;
    float: right;
    background-color: black;
    margin-right: 5%;
    margin-top: 2%; }
  .header .menu-logo {
    display: inline-block;
    margin-top: 45px; }
    .header .menu-logo img {
      width: 100%;
      margin-left: -150px; }
  .header .menu-content {
    display: inline-block;
    font-family: "Roboto", sans-serif; }
    .header .menu-content div {
      width: 110px;
      float: right;
      font-size: 20px;
      font-weight: bold; }
      .header .menu-content div .line {
        position: absolute;
        bottom: 50%;
        width: 100px;
        height: 1px;
        background-color: black;
        display: block;
        margin-top: -0px;
        margin-left: 5px; }

.container {
  background-color: #f1f1e9; }
  .container .container-pic {
    z-index: 1;
    float: right; }
  .container .container-text {
    position: relative;
    z-index: 2;
    margin-left: 50px;
    top: -340px; }

.la-TendaRossa {
  background-color: #f1f1e9;
  padding: 50px 20px 40px 0px; }
  .la-TendaRossa .la-TendaRossa-pic {
    margin-top: 10px;
    z-index: 2;
    width: 75%; }
  .la-TendaRossa .la-TendaRossa-inner {
    position: relative;
    margin-left: 10%;
    margin-top: -50px; }
    .la-TendaRossa .la-TendaRossa-inner img {
      width: 25%; }
    .la-TendaRossa .la-TendaRossa-inner .section-content {
      position: relative;
      float: right;
      width: 40%;
      height: 450px;
      background-color: white;
      left: -10%;
      margin-top: -500px;
      padding: 50px 20px 50px 20px;
      line-height: 1.5;
      font-size: 19px; }
      .la-TendaRossa .la-TendaRossa-inner .section-content div {
        text-align: center; }
      .la-TendaRossa .la-TendaRossa-inner .section-content .rotate-div {
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: red;
        margin: auto;
        margin-bottom: 30px; }
      .la-TendaRossa .la-TendaRossa-inner .section-content .section-content-logo {
        border-top: 1px solid black; }
        .la-TendaRossa .la-TendaRossa-inner .section-content .section-content-logo img {
          width: 45%; }
      .la-TendaRossa .la-TendaRossa-inner .section-content .content {
        text-align: center;
        padding-top: 50px; }
        .la-TendaRossa .la-TendaRossa-inner .section-content .content .rotate-div {
          width: 10px;
          height: 10px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          background-color: red;
          margin: auto;
          margin-bottom: 30px;
          margin-top: 50px; }
        .la-TendaRossa .la-TendaRossa-inner .section-content .content .content-logo {
          width: 250px; }
      .la-TendaRossa .la-TendaRossa-inner .section-content p {
        text-align: center; }

.DISH {
  background-color: #f1f1e9;
  padding: 50px;
  position: relative; }
  .DISH .inner {
    text-align: center;
    width: 25%;
    display: inline-block;
    padding: 30px; }
    .DISH .inner .title {
      font-size: 50px;
      font-family: "Playfair Display", serif;
      margin-bottom: 0px;
      border-top: 1px solid black; }
    .DISH .inner .title::first-letter {
      color: #730004; }
    .DISH .inner .rotate-div {
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: red;
      margin: auto;
      margin-bottom: 30px; }
    .DISH .inner .content {
      font-size: 16px; }
      .DISH .inner .content .black {
        font-weight: bolder; }
    .DISH .inner .box {
      border: 1px solid black;
      height: 50px;
      font-size: 30px;
      margin-top: 15px; }
  .DISH .DISH-pic {
    display: inline-block;
    width: 65%; }
  .DISH .DISH-pic1 {
    position: absolute;
    width: 25%;
    display: inline-block;
    left: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -15%; }

.WINE {
  position: relative;
  background-color: #f1f1e9;
  padding: 50px 100px 50px 50px;
  height: 450px; }
  .WINE .WINE-pic {
    width: 60%;
    position: absolute;
    display: inline-block; }
  .WINE .WINE-pic1 {
    position: relative;
    width: 25%;
    left: 10%;
    top: 250px; }
  .WINE .inner {
    position: relative;
    width: 28%;
    text-align: center;
    display: inline-block;
    float: right;
    margin-top: 100px; }
    .WINE .inner .rotate-div {
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: red;
      margin: auto;
      margin-bottom: 30px; }
    .WINE .inner .title {
      font-size: 50px;
      font-family: "Playfair Display", serif;
      margin-bottom: 0px;
      border-top: 1px solid black; }
    .WINE .inner .title::first-letter {
      color: #730004; }
    .WINE .inner .decoration1 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-bottom-color: red;
      margin: auto; }
    .WINE .inner .decoration2 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-top-color: red;
      margin: auto; }
    .WINE .inner .content {
      font-size: 16px; }
    .WINE .inner .box {
      margin-top: 30px;
      border: 1px solid black;
      height: 50px;
      font-size: 30px; }

.PARTY {
  background-color: #f1f1e9;
  position: relative;
  padding: 25px; }
  .PARTY .inner {
    position: relative;
    text-align: center;
    width: 25%;
    display: inline-block;
    padding: 30px;
    vertical-align: bottom; }
    .PARTY .inner .title {
      font-size: 50px;
      font-family: "Playfair Display", serif;
      margin-bottom: 0px;
      border-top: 1px solid black; }
    .PARTY .inner .title::first-letter {
      color: #730004; }
    .PARTY .inner .rotate-div {
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: red;
      margin: auto;
      margin-bottom: 30px; }
    .PARTY .inner .content {
      font-size: 16px; }
    .PARTY .inner .box {
      margin-top: 30px;
      border: 1px solid black;
      height: 50px;
      font-size: 30px; }
  .PARTY .PARTY-pic {
    display: inline-block;
    width: 65%; }
  .PARTY .PARTY-pic1 {
    position: absolute;
    width: 25%;
    display: inline-block;
    left: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -15%; }

.slidebar {
  background-color: #f1f1e9;
  padding: 100px 0px 0px 0px;
  text-align: center;
  width: 100%; }
  .slidebar .img-1 {
    width: 49%; }
    .slidebar .img-1 .img-1-1 {
      width: 49%;
      height: 500px;
      background-position: center;
      overflow: hidden;
      display: inline-block;
      background-image: url("file:///Users/jamesliu/test2/img/section5-left.png");
      background-repeat: no-repeat;
      background-color: #f1f1e9;
      width: 100%;
      display: inline-block; }
  .slidebar .img-2 {
    margin-top: -17px;
    margin-left: 49%; }
    .slidebar .img-2 .img-2-1 {
      width: 49%;
      height: 498px;
      background-position: center;
      overflow: hidden;
      display: inline-block;
      background-image: url("https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/pic10.png");
      background-repeat: no-repeat;
      background-color: #f1f1e9;
      width: 100%;
      display: inline-block;
      margin-top: -505px; }
  .slidebar .slidebar-background {
    width: 33%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    height: 300px;
    margin: auto;
    margin-top: -505px; }
    .slidebar .slidebar-background .slidebar-inner {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      color: white;
      font-family: "Playfair Display", serif;
      line-height: 2; }
      .slidebar .slidebar-background .slidebar-inner .rotate-div {
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: red;
        margin: auto;
        margin-bottom: 30px;
        background-color: white;
        margin-top: 15px; }
      .slidebar .slidebar-background .slidebar-inner .title {
        font-size: 40px; }
      .slidebar .slidebar-background .slidebar-inner .decoration1 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-bottom-color: white;
        margin: auto; }
      .slidebar .slidebar-background .slidebar-inner .decoration2 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-top-color: white;
        margin: auto; }
    .slidebar .slidebar-background .box {
      border: 1px solid white;
      text-align: center;
      width: 300px;
      margin: auto; }

.NEWS {
  background-color: #f1f1e9;
  padding: 20px;
  line-height: 2; }
  .NEWS .inner {
    width: 45%;
    font-size: 20px;
    margin: 50px; }
  .NEWS .title {
    font-size: 50px; }
    .NEWS .title .title-change {
      color: #730004;
      letter-spacing: 0.2em; }
  .NEWS .content {
    text-align: left;
    letter-spacing: 0.2em; }
  .NEWS .box {
    width: 300px;
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
    font-size: 20px; }
  .NEWS .Calendar {
    width: 45%;
    height: 350px;
    float: right;
    background-color: white;
    margin-top: -400px; }
    .NEWS .Calendar .style1 {
      text-align: center;
      width: 81%;
      font-weight: bold;
      font-size: 30px;
      height: 50px;
      margin-top: -5px;
      margin: auto;
      margin-top: 130px; }
    .NEWS .Calendar .style2 {
      width: 400px;
      text-align: center;
      margin-top: -30px;
      letter-spacing: 3px; }

.access {
  background-image: url("https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/access_bg.png  ");
  width: 100%;
  height: 450px;
  padding-top: 50px; }
  .access #google-maps {
    position: relative;
    vertical-align: middle;
    width: 60%;
    height: 400px;
    margin-left: 3%; }
  .access .access-box {
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    width: 300px;
    margin: auto; }
  .access .access-inner {
    line-height: 2;
    float: right;
    color: white;
    margin-top: -430px;
    margin-right: 100px;
    width: 40%; }
    .access .access-inner div {
      overflow: hidden;
      font-family: "Playfair Display", serif;
      font-size: 20px;
      margin-top: 10%; }
      .access .access-inner div .title {
        width: 100px;
        float: left; }
  .access .access-title {
    font-size: 50px; }

.footer {
  background-color: #f1f1e9;
  height: 350px;
  padding: 50px 30px 0px 30px;
  text-align: center;
  font-family: "Playfair Display", serif; }
  .footer .box-title {
    font-size: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 350px;
    margin: auto; }
    .footer .box-title .p1 {
      color: #730004; }
    .footer .box-title .p2 {
      margin-left: -4px; }
  .footer .box-content {
    font-size: 20px;
    line-height: 2.2; }
    .footer .box-content .rotate-div {
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: red;
      margin: auto;
      margin-bottom: 30px;
      margin-bottom: 0px;
      margin-top: 10px; }
  .footer .our-phone {
    font-size: 50px; }
  .footer .Community {
    width: 200px;
    text-align: center;
    display: inline-block; }
    .footer .Community .Community-logo {
      width: 20px;
      margin-left: 20px; }
  .footer .copyright {
    font-size: 10px; }
