.header {
  z-index: 99;
  position: fixed;
  background-color: white;
  height: 100px;
  padding: 0px 30px 0px 30px;
  width: 100%;
  font-family: fantasy;
  text-align: center;
  margin-left: -10px;
  margin-top: -10px; }
  .header .menu-logo {
    display: inline-block;
    margin-top: 45px; }
    .header .menu-logo img {
      width: 50%;
      margin-left: -150px; }
  .header .menu-content {
    display: inline-block;
    font-family: "Roboto", sans-serif; }
    .header .menu-content div {
      width: 110px;
      float: right;
      font-size: 20px;
      font-weight: bold; }
      .header .menu-content div .line {
        position: absolute;
        bottom: 50%;
        width: 100px;
        height: 1px;
        background-color: black;
        display: block;
        margin-top: -0px;
        margin-left: 5px; }

.container {
  background-color: #f1f1e9; }
  .container .container-pic {
    z-index: 1;
    float: right; }
  .container .container-text {
    position: relative;
    z-index: 2;
    margin-left: 50px;
    top: -340px; }

.section1 {
  background-color: #f1f1e9;
  padding: 50px 20px 40px 0px; }
  .section1 .section1-pic {
    margin-top: 10px;
    z-index: 2;
    width: 75%; }
  .section1 .section1-inner {
    position: relative;
    margin-left: 10%;
    margin-top: -50px; }
    .section1 .section1-inner img {
      width: 25%; }
    .section1 .section1-inner .section-content {
      position: relative;
      float: right;
      width: 40%;
      height: 450px;
      background-color: white;
      left: -10%;
      margin-top: -500px;
      padding: 50px 20px 50px 20px;
      line-height: 1.5; }
      .section1 .section1-inner .section-content div {
        text-align: center; }
      .section1 .section1-inner .section-content .decoration1 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-bottom-color: red;
        margin: auto; }
      .section1 .section1-inner .section-content .decoration2 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-top-color: red;
        margin: auto; }
      .section1 .section1-inner .section-content .section-content-logo {
        border-top: 1px solid black; }
        .section1 .section1-inner .section-content .section-content-logo .content {
          text-align: center; }
        .section1 .section1-inner .section-content .section-content-logo .content-logo {
          width: 250px; }
      .section1 .section1-inner .section-content p {
        text-align: center; }

.section2 {
  background-color: #f1f1e9;
  padding: 150px 20px 150px 100px; }
  .section2 .section2-pic {
    width: 75%;
    float: right;
    margin-top: 50px; }
  .section2 .section2-pic1 {
    width: 30%;
    margin-left: 450px;
    margin-top: -100px; }
  .section2 .section2-inner {
    width: 28%;
    text-align: center; }
    .section2 .section2-inner .section2-title {
      border-top: 1px solid black;
      font-size: 50px;
      font-family: "Playfair Display", serif;
      margin-left: 30px; }
      .section2 .section2-inner .section2-title .title1 {
        color: #730004;
        display: inline; }
      .section2 .section2-inner .section2-title .title2 {
        display: inline; }
    .section2 .section2-inner .decoration1 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-bottom-color: red;
      margin: auto; }
    .section2 .section2-inner .decoration2 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-top-color: red;
      margin: auto; }
    .section2 .section2-inner .section2-content {
      font-size: 16px;
      font-weight: bold; }
      .section2 .section2-inner .section2-content .p2 {
        font-weight: normal;
        font-size: 14px; }
    .section2 .section2-inner .section2-box {
      border: 1px solid #000;
      text-align: center;
      font-weight: bold;
      margin: 10px;
      height: 50px;
      font-size: 15px; }

.section3 {
  background-color: #f1f1e9;
  padding: 50px 20px 50px 0px; }
  .section3 .section3-pic1 {
    width: 60%; }
  .section3 .section3-pic2 {
    width: 23%;
    margin-left: -650px;
    margin-bottom: -100px; }
  .section3 .section3-inner {
    text-align: center;
    width: 30%;
    padding: 20px;
    float: right;
    margin: auto;
    margin-right: 50px;
    margin-top: 70px; }
    .section3 .section3-inner .section3-title {
      font-size: 50px;
      font-family: "Playfair Display", serif;
      border-top: 1px solid black;
      width: 300px;
      margin: auto; }
      .section3 .section3-inner .section3-title .p1 {
        color: #730004;
        display: inline; }
      .section3 .section3-inner .section3-title .p2 {
        display: inline;
        margin-left: -10px; }
    .section3 .section3-inner .decoration1 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-bottom-color: red;
      margin: auto; }
    .section3 .section3-inner .decoration2 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-top-color: red;
      margin: auto; }
    .section3 .section3-inner .new-content {
      font-weight: bold; }
      .section3 .section3-inner .new-content .p1 {
        font-size: 20px; }
      .section3 .section3-inner .new-content .p2 {
        font-size: 15px; }
    .section3 .section3-inner .section3-box {
      border: 1px solid #000;
      text-align: center;
      font-weight: bold;
      width: 300px;
      margin: auto; }

.section4 {
  background-color: #f1f1e9;
  padding: 180px 50px 10px 30px; }
  .section4 .section4-pic {
    float: right;
    width: 46%; }
  .section4 .section4-inner {
    padding: 30px;
    width: 31%;
    font-family: "Playfair Display", serif; }
    .section4 .section4-inner .title {
      border-top: 1px solid black;
      font-size: 50px;
      font-weight: bold;
      width: 250px;
      text-align: center;
      margin: auto; }
      .section4 .section4-inner .title .p1 {
        color: #730004; }
      .section4 .section4-inner .title .p2 {
        margin-left: -10px; }
    .section4 .section4-inner .decoration {
      padding: 10px; }
      .section4 .section4-inner .decoration .decoration1 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-bottom-color: red;
        margin: auto; }
      .section4 .section4-inner .decoration .decoration2 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-top-color: red;
        margin: auto; }
    .section4 .section4-inner .content {
      font-weight: normal;
      font-size: 15px;
      text-align: center; }
    .section4 .section4-inner .section4-box {
      border: 1px solid #000;
      text-align: center;
      font-weight: bold;
      width: 300px;
      margin: auto; }
  .section4 .section4-pic {
    float: right;
    width: 60%;
    margin-top: 0%; }
    .section4 .section4-pic .section4-pic1 {
      float: right;
      position: relative;
      margin-top: -20%;
      width: 40%;
      margin-right: 15%; }
    .section4 .section4-pic .section4-pic2 {
      margin-top: -120px;
      width: 100%; }

.section5 {
  background-color: #f1f1e9;
  padding: 200px 0px 0px 0px;
  text-align: center;
  width: 100%; }
  .section5 .img-1 {
    width: 49%; }
    .section5 .img-1 .img-1-1 {
      width: 49%;
      height: 500px;
      background-position: center;
      overflow: hidden;
      display: inline-block;
      background-image: url("file:///Users/jamesliu/test2/img/section5-left.png");
      background-repeat: no-repeat;
      background-color: #f1f1e9;
      width: 100%;
      display: inline-block; }
  .section5 .img-2 {
    margin-top: -17px;
    margin-left: 49%; }
    .section5 .img-2 .img-2-1 {
      width: 49%;
      height: 500px;
      background-position: center;
      overflow: hidden;
      display: inline-block;
      background-image: url("https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/pic10.png");
      background-repeat: no-repeat;
      background-color: #f1f1e9;
      width: 100%;
      display: inline-block;
      margin-top: -505px; }
  .section5 .section5-background {
    width: 33%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    height: 300px;
    margin: auto;
    margin-top: -505px; }
    .section5 .section5-background .section5-inner {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      color: white;
      font-family: "Playfair Display", serif; }
      .section5 .section5-background .section5-inner .title {
        font-size: 40px; }
      .section5 .section5-background .section5-inner .decoration1 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-bottom-color: white;
        margin: auto; }
      .section5 .section5-background .section5-inner .decoration2 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-top-color: white;
        margin: auto; }
    .section5 .section5-background .section5-box {
      border: 1px solid white;
      text-align: center;
      width: 300px;
      margin: auto; }

.section6 {
  background-color: #f1f1e9;
  padding: 20px; }
  .section6 .section6-inner {
    width: 45%;
    font-size: 20px;
    margin: 50px; }
  .section6 .section6-title {
    font-size: 50px; }
    .section6 .section6-title .title-change {
      color: #730004;
      letter-spacing: 0.2em; }
  .section6 .section6-content {
    text-align: left;
    letter-spacing: 0.2em; }
  .section6 .section6-box {
    width: 300px;
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
    font-size: 20px; }
  .section6 .Calendar {
    width: 45%;
    height: 350px;
    float: right;
    background-color: white;
    margin-top: -505px; }
    .section6 .Calendar .style1 {
      text-align: center;
      width: 81%;
      font-weight: bold;
      font-size: 30px;
      height: 50px;
      margin-top: -5px;
      margin: auto;
      margin-top: 130px; }
    .section6 .Calendar .style2 {
      width: 400px;
      text-align: center;
      margin-top: -30px;
      letter-spacing: 3px; }

.access {
  background-image: url("https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/access_bg.png  ");
  width: 100%;
  height: 450px;
  padding-top: 50px; }
  .access #google-maps {
    position: relative;
    vertical-align: middle;
    width: 60%;
    height: 400px;
    margin-left: 3%; }
  .access .access-box {
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    width: 300px;
    margin: auto; }
  .access .access-inner {
    float: right;
    color: white;
    margin-top: -430px;
    margin-right: 100px;
    width: 40%; }
    .access .access-inner div {
      overflow: hidden;
      font-family: "Playfair Display", serif; }
      .access .access-inner div .title {
        width: 100px;
        float: left; }
  .access .access-title {
    font-size: 50px; }

.footer {
  background-color: #f1f1e9;
  height: 500px;
  padding: 50px 30px 0px 30px;
  text-align: center;
  font-family: "Playfair Display", serif; }
  .footer .box-title {
    font-size: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 350px;
    margin: auto; }
    .footer .box-title .p1 {
      color: #730004; }
    .footer .box-title .p2 {
      margin-left: -4px; }
  .footer .box-content {
    font-size: 20px; }
    .footer .box-content .decoration1 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-bottom-color: red;
      margin: auto; }
    .footer .box-content .decoration2 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-top-color: red;
      margin: auto; }
  .footer .our-phone {
    font-size: 50px; }
  .footer .Community {
    width: 200px;
    text-align: center;
    display: inline-block; }
    .footer .Community .Community-logo {
      width: 20px;
      margin-left: 20px; }
  .footer .copyright {
    font-size: 10px; }
          @media screen and (min-width: 400px) and (max-width:968px){

.header .menu-content div{

  font-size:15px;


}

 .container .container-pic img
{
  width: 100%;
}

.container .container-pic
{
  width:100%;
}
.container .container-text{
  top:0px;
  padding:50px;
  float:left;
}


.section1{
  padding:0px;
}
.section1 .section1-pic{
  width:100%;
  float:none;
}


.section1 .section1-inner{
  margin-top: 50px;
  margin-left:0px;
}
.section1 .section1-inner .section-content
{
  width:100%;
  margin-top:0px;
  float:none;
  left:0px;
  padding:0px;

}
.section2-inner{
  padding-bottom:20px;
}
.section2 .section2-inner .section2-title{
  width:80%;
  margin:auto;
}
.section2{
  padding:0px;
}
.section2 .section2-inner .section2-box
{
  width:300px;
  margin:auto;
  margin-top:10px;

}

.section2 .section2-pic{
  padding:0px;
  width:100%;
  float:none;
  margin-top:0px;
}

.section2 .section2-pic1{
  margin-top:0px;
}

.section2 .section2-inner{
  width:100%;
}

.section3{
  padding:0px;
}
.section3 .section3-pic1{
  width:100%;
}
.section3 .section3-pic2{
margin-left:0px;
margin-bottom:  0px

}
.section3 .section3-inner{
  width:100%;
  float:none;
  padding:0px;
}

.section3 .section3-inner .section3-title
{
  width:80%;
}

.section3-content{
  width:500px;
  margin:auto;
}

.section4{
  padding:0px;
}
.section4 .section4-pic{
  margin-top:0px;
  width:100%;
  margin-top:30px;
}
.section4 .section4-pic .section4-pic1{
  margin-top: 0px;
  margin-right: 8%;
  width: 30%;
}

.section4 .section4-pic .section4-pic2{
  margin-top:0px;
}

.section4 #section4-inner .content
{
  width:500px;
  margin:auto;
}

.section4 #section4-inner{
  width:100%;
  padding:0px;
  padding-top:30px;
}
.section5 .img-1{
  width: 100%;
}
.section5 .img-2{
  width:100%;
  margin-top:0px;
  margin-left:0px;
}
.section5 .img-2 .img-2-1{
  margin-top:0px;
}
.section5 .section5-pic div
{
  width:100%;
}
.section5 .section5-background{
  width:100%;
  margin-top:0px;
  padding:0px;
  height:auto;
}
.section5 .img-1 .img-1-1{
  margin-top:20px;
}
.access .access-inner{
  margin-top:0px;
  margin-bottom: auto;
  position:relative;
  position:absolute;
  margin-top: auto;
}
.access{
  height: 1100px;
}
.access #google-maps{
  width: 90%;
}

.access .access-inner div
{
  margin-left: 10%;
  width: 500px;
}
.access div{
  line-height: 2.75

}
