$bg-color: #f1f1e9
$font-size50: 50px
$font-size20: 20px

@mixin click-border-b
	border: 1px solid black
	text-align: center
	font-weight: bold

@mixin click-border-w
	border: 1px solid white
	text-align: center

@mixin decoration1
	width: 0px
	height: 0px
	border: 5px solid transparent
	border-bottom-color: red
	margin: auto

@mixin decoration2
	width: 0px
	height: 0px
	border: 5px solid transparent
	border-top-color: red
	margin: auto



.header
	z-index: 99
	position: fixed
	background-color: white
	height: 100px
	padding: 0px 30px 0px 30px
	width: 100%
	font-family: fantasy
	text-align: center
	margin-left: -10px
	margin-top: -10px

	.menu-logo
		width: 30%
		display: inline-block
		margin-top: 45px
		img
			width: 50%
			margin-left: -150px	
	.menu-content
		width: 50%
		display: inline-block
		font-family: "Roboto", sans-serif
		div
			width: 110px
			float: right
			font-size: $font-size20
			font-weight: bold





.container
	background-color: $bg-color
	.container-pic
		z-index: 1
		float: right
		img
			width: 90%
			float: right
	.container-text
		position: relative
		z-index: 2
		margin-left: 50px
		top: -340px

		

.section1
	background-color: $bg-color
	padding: 20px
	.section1-pic
		margin-left: 20px
		img
			z-index: 2
			width: 75%

	.section1-inner
		position: relative
		margin-left: 10%
		margin-top: -50px
		img
			width: 25%
		.section-content	
			position: relative
			float: right
			width: 40%
			height: 450px
			background-color: white;
			left: -10%
			margin-top: -500px
			padding: 50px 20px 50px 20px
			line-height: 1.5
			div
				border-top: 1px solid black
				text-align: center
			.decoration1
				@include decoration1
			.decoration2
				@include decoration2
			.section-content-logo
				.content
					border-top: 1px solid black
					text-align: center
				.content-logo
					width: 250px
			p
				text-align: center

.section2
	background-color: $bg-color
	padding: 50px 20px 50px 100px
	.section2-pic
		width: 75%
		float: right
		margin-top: 50px
	.section2-pic1
		width: 60%
		float: right
	.section2-inner
		width: 28%
		text-align: center
		.section2-title
			border-top: 1px solid black
			font-size: $font-size50
			font-family: "Playfair Display", serif
			.title1
				color: red
				display: inline
			.title2
				color: green
				display: inline
		.decoration1
			@include decoration1
		.decoration2
			@include decoration2


		.section2-content
			font-size: 16px
			font-weight: bold
			.p2
				font-weight: normal
				font-size: 14px

		.section2-box
			@include click-border-b
			margin: 10px		
			height: 50px
			font-size: 15px

.section3
	background-color: $bg-color
	padding: 150px 0px 100px 0px
	text-align: center
	width: 100%

	.section3-pic
		background-color: #f1f1e9
		width: 100%
		display: inline-block
		div
			width: 49%
			height: 500px
			background-position: center
			overflow: hidden
			display: inline-block		
		.img-1
			background-image: url("file:///Users/jamesliu/test2/img/section3-left.png")
			background-repeat: no-repeat

		.img-2
			background-image: url("https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/pic10.png")
			background-repeat: no-repeat
	.section3-background
		width: 400px
		padding: 100px
		background-color: rgba(0, 0, 0, 0.8)
		position: relative
		height: 300px
		margin: auto
		margin-top: -505px
		.section3-inner
			border-top: 1px solid white
			border-bottom: 1px solid white
			color: white
			font-family: "Playfair Display", serif		
			.title
				font-size: 40px

			.decoration1
				width: 0px
				height: 0px
				border: 5px solid transparent
				border-bottom-color: white	
				margin: auto				

			.decoration2
				width: 0px
				height: 0px
				border: 5px solid transparent
				border-top-color: white
				margin: auto				
		.section3-box
			border: 1px solid white
			width: 300px
			margin: auto
.section4
	background-color: $bg-color
	padding: 20px
	.section4-inner
		width: 45%
		font-size: $font-size20
		margin: 50px
	.section4-title
		font-size: $font-size50
		.title-change
			color: red
			letter-spacing: 5px
	.section4-content
		text-align: left

	.section4-box
		width: 300px
		margin-top: 20px
		@include click-border-b
		margin-left: 50px
		font-size: $font-size20
	.Calendar
		width: 45%
		height: 350px
		float: right
		background-color: white
		margin-top: -505px
		.style
			text-a1lign: center
			width: 81%
			font-weight: bold
			font-size: 30px
			height: 50px
			margin-top: -5px
			margin: auto
			margin-top: 130px
		.style2
			width: 400px
			text-align: center
			margin-top: -30px
			letter-spacing: 3px
.access
	background-image: url( 'https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/access_bg.png  ' ); 
	width: 100%
	height: 500px
	#google-maps
		position: relative
		vertical-align: middle
		width: 60%
		height: 400px
		top: 22px

	.access-box	
		@include click-border-w
		font-size: $font-size20
		width: 300px
		margin: auto
	.access-inner
		float: right
		color: white
		margin-top: -400px
		margin-right: 100px
		width: 40%
		div
			overflow: hidden
			font-family: "Playfair Display", serif
			.title
				width: 100px
				float: left

	.access-title
		font-size: $font-size50



.footer
	background-color: $bg-color
	height: 500px
	padding: 50px 30px 0px 30px
	text-align: center
	.box-title
		font-size: $font-size20
		border-top: 1px solid black
		border-bottom: 1px solid black
		width: 350px
		margin: auto	
	.box-content
		font-size: $font-size20
		.decoration
		.decoration1
			@include decoration1
		.decoration2
			@include decoration2
	.our-phone
		font-size: $font-size50
	.Community
		width: 200px
		text-align: center
		display: inline-block
		.Community-logo
			width: 20px
			margin-left: 20px
	.copyright
		font-size: 10px




















