.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 100; }
  .header img {
    width: 30%;
    display: inline-block;
    margin: 30px 0px 0px 30px; }
    @media only screen and (max-width: 367px) {
      .header img {
        width: 70%; } }
  .header .menu-content {
    display: inline-block;
    width: 55%;
    letter-spacing: 4px;
    margin-left: 5%;
    font-size: 16px; }
    @media only screen and (max-width: 930px) {
      .header .menu-content {
        font-size: 12px; } }
    @media only screen and (max-width: 367px) {
      .header .menu-content {
        display: none; } }
    .header .menu-content div {
      display: inline-block; }
  .header .dropdown-list {
    display: inline-block;
    width: 5%;
    display: none; }
    @media only screen and (max-width: 930px) {
      .header .dropdown-list {
        display: none; } }
    @media only screen and (max-width: 367px) {
      .header .dropdown-list {
        display: inline;
        margin-left: 30px; } }

.rolling-click {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 90%;
  left: 90%;
  z-index: 99; }
  @media only screen and (max-width: 930px) {
    .rolling-click {
      margin-left: -25px; } }
  @media only screen and (max-width: 367px) {
    .rolling-click {
      margin-left: -25px; } }

@media only screen and (max-width: 1024px) {
  #mobile-menu {
    display: none; } }

@media only screen and (max-width: 930px) {
  #mobile-menu {
    display: none; } }

@media only screen and (max-width: 367px) {
  #mobile-menu {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 100px;
    text-align: center; }
    #mobile-menu div {
      background-color: black;
      color: white;
      margin-top: 4px;
      font-size: 25px;
      padding: 30px; }
    #mobile-menu .reservation {
      background-color: #730004; } }

.container {
  background-color: #f1f1e9; }
  .container .container-pic {
    z-index: 1; }
    .container .container-pic img {
      width: 80%;
      float: right; }
      @media only screen and (max-width: 930px) {
        .container .container-pic img {
          width: 100%;
          margin-top: 30px; } }
      @media only screen and (max-width: 367px) {
        .container .container-pic img {
          margin-top: 50px; } }
  .container .container-text {
    position: relative;
    z-index: 2;
    margin-left: 50px;
    top: -300px; }
    @media only screen and (max-width: 930px) {
      .container .container-text {
        top: 0px; } }
    @media only screen and (max-width: 930px) {
      .container .container-text img {
        margin: 30px;
        width: 70%; } }
    @media only screen and (max-width: 367px) {
      .container .container-text img {
        margin: 0px;
        width: 100%;
        margin-left: -30px;
        padding: 20px 0px 20px 0px; } }

.la-TendaRossa {
  background-color: #f1f1e9;
  padding: 50px 20px 40px 0px; }
  @media only screen and (max-width: 930px) {
    .la-TendaRossa {
      padding: 0px; } }
  .la-TendaRossa .la-TendaRossa-pic {
    margin-top: 10px;
    z-index: 2;
    width: 85%; }
    @media only screen and (max-width: 930px) {
      .la-TendaRossa .la-TendaRossa-pic {
        width: 100%;
        margin-top: 0px; } }
  .la-TendaRossa .la-TendaRossa-inner {
    position: relative;
    margin-left: 10%;
    margin-top: -50px; }
    @media only screen and (max-width: 930px) {
      .la-TendaRossa .la-TendaRossa-inner {
        margin-top: 0px;
        margin-left: 0px;
        line-height: 1.5; } }
    .la-TendaRossa .la-TendaRossa-inner .section-content {
      position: relative;
      float: right;
      width: 40%;
      height: 450px;
      background-color: white;
      left: -10%;
      margin-top: -300px;
      padding: 50px 20px 50px 20px;
      line-height: 1.5;
      font-size: 16px; }
      @media only screen and (max-width: 930px) {
        .la-TendaRossa .la-TendaRossa-inner .section-content {
          width: 100%;
          margin-top: 0px;
          float: none;
          left: 0px;
          padding: 0px; } }
      .la-TendaRossa .la-TendaRossa-inner .section-content div {
        text-align: center; }
      .la-TendaRossa .la-TendaRossa-inner .section-content .rotate-div {
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: red;
        margin: auto;
        margin-bottom: 30px; }
      .la-TendaRossa .la-TendaRossa-inner .section-content .section-content-logo {
        width: auto;
        border-top: 1px solid black;
        margin: auto; }
        @media only screen and (max-width: 930px) {
          .la-TendaRossa .la-TendaRossa-inner .section-content .section-content-logo {
            width: 50%; } }
        .la-TendaRossa .la-TendaRossa-inner .section-content .section-content-logo img {
          width: 70%; }
          @media only screen and (max-width: 930px) {
            .la-TendaRossa .la-TendaRossa-inner .section-content .section-content-logo img {
              width: 100%; } }
          @media only screen and (max-width: 367px) {
            .la-TendaRossa .la-TendaRossa-inner .section-content .section-content-logo img {
              width: 100%; } }
      .la-TendaRossa .la-TendaRossa-inner .section-content .content {
        text-align: center;
        padding-top: 50px; }
        @media only screen and (max-width: 930px) {
          .la-TendaRossa .la-TendaRossa-inner .section-content .content {
            padding: 10px; } }
        @media only screen and (max-width: 367px) {
          .la-TendaRossa .la-TendaRossa-inner .section-content .content {
            font-size: 15px;
            padding: 10px; } }
        .la-TendaRossa .la-TendaRossa-inner .section-content .content .rotate-div {
          width: 10px;
          height: 10px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          background-color: red;
          margin: auto;
          margin-bottom: 30px;
          margin-top: 50px; }
        .la-TendaRossa .la-TendaRossa-inner .section-content .content .content-logo {
          width: 250px; }
      .la-TendaRossa .la-TendaRossa-inner .section-content p {
        text-align: center; }
  .la-TendaRossa .la-TendaRossa-pic1 img {
    width: 20%;
    margin-left: 30px; }
    @media only screen and (max-width: 930px) {
      .la-TendaRossa .la-TendaRossa-pic1 img {
        width: 35%;
        margin-top: 30px; } }

.DISH {
  background-color: #f1f1e9;
  padding-top: -10%; }
  .DISH .DISH-pic {
    margin-top: 60px;
    width: 60%;
    position: relative;
    float: right; }
    @media only screen and (max-width: 930px) {
      .DISH .DISH-pic {
        width: 100%; } }
  .DISH .inner {
    text-align: center;
    width: 25%;
    display: inline-block;
    padding: 30px 10px 20px 20px;
    margin-top: 50px; }
    @media only screen and (max-width: 930px) {
      .DISH .inner {
        width: 100%;
        padding: 0px;
        margin-bottom: 30px; } }
    .DISH .inner .title {
      font-size: 50px;
      font-family: "Playfair Display", serif;
      margin-bottom: 0px;
      width: auto;
      border-top: 1px solid black;
      margin: auto; }
      @media only screen and (max-width: 930px) {
        .DISH .inner .title {
          width: 50%; } }
    .DISH .inner .title::first-letter {
      color: #730004; }
    .DISH .inner .rotate-div {
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: red;
      margin: auto;
      margin-bottom: 30px; }
    .DISH .inner .content {
      font-size: 16px; }
      @media only screen and (max-width: 930px) {
        .DISH .inner .content {
          line-height: 1.5; } }
      @media only screen and (max-width: 367px) {
        .DISH .inner .content {
          width: 80%;
          margin: auto;
          line-height: 1.5; } }
      .DISH .inner .content .black {
        font-weight: bolder; }
    .DISH .inner .box {
      border: 1px solid black;
      font-size: 30px;
      margin: auto;
      margin-top: 20px; }
      @media only screen and (max-width: 930px) {
        .DISH .inner .box {
          width: 300px; } }
      @media only screen and (max-width: 367px) {
        .DISH .inner .box {
          width: 250px; } }
  .DISH .DISH-pic1 {
    position: relative;
    width: 20%;
    left: 60%;
    margin-top: -100px; }
    @media only screen and (max-width: 930px) {
      .DISH .DISH-pic1 {
        width: 35%;
        margin-top: 50px;
        margin-bottom: 20px; } }

.WINE {
  padding: 50px 30px 30px 0px;
  background-color: #f1f1e9;
  padding-bottom: 70px; }
  @media only screen and (max-width: 930px) {
    .WINE {
      padding: 0px; } }
  .WINE .WINE-pic {
    width: 65%;
    position: relative; }
    @media only screen and (max-width: 930px) {
      .WINE .WINE-pic {
        width: 100%; } }
  .WINE .inner {
    margin-top: 50px;
    position: relative;
    width: 25%;
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 50px;
    margin-top: 100px; }
    @media only screen and (max-width: 930px) {
      .WINE .inner {
        width: 100%;
        margin: auto;
        float: none;
        margin-top: 50px;
        line-height: 1.5; } }
    .WINE .inner .rotate-div {
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: red;
      margin: auto;
      margin-bottom: 30px; }
    .WINE .inner .title {
      font-size: 50px;
      font-family: "Playfair Display", serif;
      margin-bottom: 0px;
      width: auto;
      border-top: 1px solid black;
      margin: auto; }
      @media only screen and (max-width: 930px) {
        .WINE .inner .title {
          width: 50%; } }
      @media only screen and (max-width: 367px) {
        .WINE .inner .title {
          margin-top: 20px; } }
    .WINE .inner .title::first-letter {
      color: #730004; }
    .WINE .inner .decoration1 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-bottom-color: red;
      margin: auto; }
    .WINE .inner .decoration2 {
      width: 0px;
      height: 0px;
      border: 5px solid transparent;
      border-top-color: red;
      margin: auto; }
    .WINE .inner .content {
      font-size: 16px; }
      @media only screen and (max-width: 930px) {
        .WINE .inner .content {
          width: 50%;
          margin: auto;
          line-height: 1.5; } }
      @media only screen and (max-width: 367px) {
        .WINE .inner .content {
          width: 80%; } }
    .WINE .inner .box {
      margin-top: 30px;
      border: 1px solid black;
      font-size: 30px;
      margin: auto;
      height: auto; }
      @media only screen and (max-width: 930px) {
        .WINE .inner .box {
          width: 300px; } }
      @media only screen and (max-width: 367px) {
        .WINE .inner .box {
          width: 250px; } }
  .WINE .WINE-pic1 {
    position: relative;
    z-index: 10;
    margin-left: 100px;
    margin-top: -100px;
    width: 22%; }
    @media only screen and (max-width: 930px) {
      .WINE .WINE-pic1 {
        margin-top: 0px;
        width: 35%;
        padding-top: 20px;
        margin-left: 30px;
        margin-bottom: 10px; } }

.PARTY {
  background-color: #f1f1e9;
  position: relative; }
  @media only screen and (max-width: 930px) {
    .PARTY {
      padding: 0px; } }
  .PARTY .inner {
    margin-top: 50px;
    text-align: center;
    width: 25%;
    display: inline-block;
    padding: 30px;
    vertical-align: bottom; }
    @media only screen and (max-width: 930px) {
      .PARTY .inner {
        line-height: 1.5;
        width: 100%;
        padding: 0px;
        margin: auto;
        margin: 50px 0px 50px 0px; } }
    @media only screen and (max-width: 367px) {
      .PARTY .inner {
        line-height: 1.5; } }
    .PARTY .inner .title {
      font-size: 50px;
      font-family: "Playfair Display", serif;
      margin-bottom: 0px;
      width: auto;
      border-top: 1px solid black;
      margin: auto; }
      @media only screen and (max-width: 930px) {
        .PARTY .inner .title {
          width: 50%; } }
    .PARTY .inner .title::first-letter {
      color: #730004; }
    .PARTY .inner .rotate-div {
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: red;
      margin: auto;
      margin-bottom: 30px; }
    .PARTY .inner .content {
      font-size: 16px; }
      @media only screen and (max-width: 930px) {
        .PARTY .inner .content {
          width: 50%;
          margin: auto; } }
      @media only screen and (max-width: 367px) {
        .PARTY .inner .content {
          width: 80%; } }
    .PARTY .inner .box {
      margin-top: 30px;
      border: 1px solid black;
      font-size: 30px;
      margin: auto; }
      @media only screen and (max-width: 930px) {
        .PARTY .inner .box {
          width: 300px; } }
      @media only screen and (max-width: 367px) {
        .PARTY .inner .box {
          width: 250px; } }
  .PARTY .PARTY-pic {
    display: inline-block;
    margin-top: 30px;
    width: 65%;
    float: right; }
    @media only screen and (max-width: 930px) {
      .PARTY .PARTY-pic {
        width: 100%; } }
  .PARTY .PARTY-pic1 {
    position: relative;
    width: 22%;
    display: inline-block;
    left: 70%;
    top: -30px;
    right: -65%; }
    @media only screen and (max-width: 930px) {
      .PARTY .PARTY-pic1 {
        width: 35%;
        margin-top: 0px;
        margin-left: -80px;
        top: 0px;
        padding-bottom: 10px; } }

.slidebar {
  background-color: #f1f1e9;
  padding: 30px 0px 0px 0px;
  text-align: center;
  width: 100%; }
  .slidebar .img-1 {
    width: 49%; }
    @media only screen and (max-width: 930px) {
      .slidebar .img-1 {
        width: 100%; } }
    .slidebar .img-1 .img-1-1 {
      width: 49%;
      height: 500px;
      background-position: center;
      overflow: hidden;
      display: inline-block;
      background-image: url("file:///Users/jamesliu/test2/img/section5-left.png");
      background-repeat: no-repeat;
      background-color: #f1f1e9;
      width: 100%;
      display: inline-block; }
      @media only screen and (max-width: 930px) {
        .slidebar .img-1 .img-1-1 {
          margin: auto;
          margin-top: 0px; } }
  .slidebar .img-2 {
    margin-top: -17px;
    margin-left: 49%; }
    @media only screen and (max-width: 930px) {
      .slidebar .img-2 {
        margin-left: 0px;
        margin-top: 0px; } }
    .slidebar .img-2 .img-2-1 {
      width: 49%;
      height: 498px;
      background-position: center;
      overflow: hidden;
      display: inline-block;
      background-image: url("https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/pic10.png");
      background-repeat: no-repeat;
      background-color: #f1f1e9;
      width: 100%;
      display: inline-block;
      margin-top: -505px; }
      @media only screen and (max-width: 930px) {
        .slidebar .img-2 .img-2-1 {
          width: 100%;
          margin: auto; } }
  .slidebar .slidebar-background {
    width: 33%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    height: 300px;
    margin: auto;
    margin-top: -505px; }
    @media only screen and (max-width: 930px) {
      .slidebar .slidebar-background {
        width: 100%;
        margin-top: 0px;
        padding: 0px;
        height: auto; } }
    .slidebar .slidebar-background .slidebar-inner {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      color: white;
      font-family: "Playfair Display", serif;
      line-height: 2; }
      .slidebar .slidebar-background .slidebar-inner .rotate-div {
        width: 10px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: red;
        margin: auto;
        margin-bottom: 30px;
        background-color: white;
        margin-top: 15px; }
        @media only screen and (max-width: 930px) {
          .slidebar .slidebar-background .slidebar-inner .rotate-div {
            margin-top: 0px; } }
      .slidebar .slidebar-background .slidebar-inner .title {
        font-size: 35px; }
        @media only screen and (max-width: 930px) {
          .slidebar .slidebar-background .slidebar-inner .title {
            font-size: 35px; } }
        @media only screen and (max-width: 367px) {
          .slidebar .slidebar-background .slidebar-inner .title {
            font-size: 25px; } }
      .slidebar .slidebar-background .slidebar-inner .decoration1 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-bottom-color: white;
        margin: auto; }
      .slidebar .slidebar-background .slidebar-inner .decoration2 {
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-top-color: white;
        margin: auto; }
    .slidebar .slidebar-background .box {
      border: 1px solid white;
      text-align: center;
      width: 300px;
      margin: auto; }
      @media only screen and (max-width: 367px) {
        .slidebar .slidebar-background .box {
          width: 250px; } }

.NEWS {
  background-color: #f1f1e9;
  padding: 20px;
  line-height: 2; }
  .NEWS .inner {
    width: 40%;
    font-size: 20px;
    margin: 50px;
    display: inline-block; }
    @media only screen and (max-width: 930px) {
      .NEWS .inner {
        width: 45%;
        margin: 0px; } }
    @media only screen and (max-width: 930px) {
      .NEWS .inner {
        width: 100%; } }
  .NEWS .title {
    font-size: 50px; }
    .NEWS .title .title-change {
      color: #730004;
      letter-spacing: 0.2em; }
  .NEWS .content {
    text-align: left;
    letter-spacing: 0.2em; }
  .NEWS .box {
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
    font-size: 20px;
    width: 300px; }
    @media only screen and (max-width: 930px) {
      .NEWS .box {
        border: 1px solid black;
        font-size: 30px;
        margin: auto; } }
  @media only screen and (max-width: 930px) and (max-width: 930px) {
    .NEWS .box {
      width: 300px; } }
  @media only screen and (max-width: 930px) and (max-width: 367px) {
    .NEWS .box {
      width: 250px; } }
  .NEWS .Calendar {
    width: 40%;
    height: 350px;
    background-color: white;
    vertical-align: text-bottom;
    display: inline-block; }
    @media only screen and (max-width: 930px) {
      .NEWS .Calendar {
        margin-top: 0px;
        width: 100%; } }
    @media only screen and (max-width: 367px) {
      .NEWS .Calendar {
        width: 100%; } }
    .NEWS .Calendar .style1 {
      text-align: center;
      width: 81%;
      font-weight: bold;
      font-size: 30px;
      margin-top: -5px;
      margin: auto;
      font-size: 21px;
      font-family: "Playfair Display", serif; }
      .NEWS .Calendar .style1 .week {
        border-top: 1px solid black;
        border-bottom: 1px solid black; }
      .NEWS .Calendar .style1 .week2 {
        background-color: #f6f6f1; }
      .NEWS .Calendar .style1 .week4 {
        background-color: #f6f6f1; }
      .NEWS .Calendar .style1 div {
        width: 100%; }
        .NEWS .Calendar .style1 div .Holiday {
          background-color: #806700 !important; }
        .NEWS .Calendar .style1 div .special {
          background-color: #730004 !important; }
        .NEWS .Calendar .style1 div p {
          display: inline-block;
          width: 12%; }
    .NEWS .Calendar .style2 {
      width: 400px;
      text-align: center;
      margin-top: -30px;
      letter-spacing: 3px; }

.access {
  background-image: url("https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/access_bg.png  ");
  width: 100%;
  height: 450px;
  padding-top: 50px; }
  @media only screen and (max-width: 930px) {
    .access {
      height: 1000px; } }
  .access #google-maps {
    position: relative;
    vertical-align: middle;
    width: 60%;
    height: 400px;
    margin-left: 3%; }
    @media only screen and (max-width: 930px) {
      .access #google-maps {
        width: 100%;
        margin-left: 0; } }
  .access .access-box {
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    width: 300px;
    margin: auto; }
    @media only screen and (max-width: 930px) {
      .access .access-box {
        float: left;
        width: 250px; } }
  .access .access-inner {
    line-height: 2;
    float: right;
    color: white;
    margin-top: -450px;
    margin-right: 100px;
    width: 45%; }
    @media only screen and (max-width: 930px) {
      .access .access-inner {
        margin-top: 0px;
        float: none;
        width: 100%; } }
  @media only screen and (max-width: 930px) and (max-width: 367px) {
    .access .access-inner {
      margin-left: 0px;
      width: 100%;
      padding: 20px 0px 20px 0px; } }
    .access .access-inner div {
      overflow: hidden;
      font-family: "Playfair Display", serif;
      font-size: 20px;
      margin-top: 5%;
      padding-left: 20px; }
      @media only screen and (max-width: 930px) {
        .access .access-inner div {
          font-size: 19px; } }
      @media only screen and (max-width: 367px) {
        .access .access-inner div {
          padding-right: 20px; } }
      .access .access-inner div .title {
        width: 100px;
        float: left; }
  .access .access-title {
    font-size: 50px; }

.footer {
  background-color: #f1f1e9;
  height: 350px;
  padding: 50px 30px 0px 30px;
  text-align: center;
  font-family: "Playfair Display", serif; }
  @media only screen and (max-width: 367px) {
    .footer {
      padding: 50px 10px 50px 10px; } }
  .footer .box-title {
    font-size: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: auto;
    width: 70%; }
    .footer .box-title .p1 {
      color: #730004; }
    .footer .box-title .p2 {
      margin-left: -4px; }
  .footer .box-content {
    font-size: 20px;
    line-height: 2.2; }
    .footer .box-content .rotate-div {
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: red;
      margin: auto;
      margin-bottom: 30px;
      margin-bottom: 0px;
      margin-top: 10px; }
  .footer .our-phone {
    font-size: 50px; }
  .footer .Community {
    width: 200px;
    text-align: center;
    display: inline-block; }
    .footer .Community .Community-logo {
      width: 20px;
      margin-left: 20px; }
  .footer .copyright {
    font-size: 10px; }
