
$bg-color: #f1f1e9
$title-color: #730004
$font-size50: 50px
$font-size20: 20px
$font-size16: 16px

@mixin rotate-div
	width: 10px
	height: 10px
	transform: rotate(45deg)
	background-color: red
	margin: auto
	margin-bottom: 30px

@mixin box-style
	border: 1px solid black
	height: 50px
	font-size: 30px

@mixin click-border-b
	border: 1px solid #000
	text-align: center
	font-weight: bold

@mixin click-border-w
	border: 1px solid white
	text-align: center

@mixin decoration1
	width: 0px
	height: 0px
	border: 5px solid transparent
	border-bottom-color: red
	margin: auto

@mixin decoration2
	width: 0px
	height: 0px
	border: 5px solid transparent
	border-top-color: red
	margin: auto

@mixin breakpoint($point)
	@if $point == pc
		@media only screen and (max-width: 1024px)
			@content 
	@else if $point == pad 
		@media only screen and (max-width: 768px)  
			@content 
	@else if $point == mobile 
		@media only screen and (max-width: 320px)   
			@content 


.header
	z-index: 99
	position: fixed
	background-color: white
	height: 100px
	padding: 0px 30px 0px 30px
	width: 100%
	font-family: fantasy
	text-align: center
	margin-left: -10px
	margin-top: -10px
	@include breakpoint(pad)
		width: 100%
	.menu-button
		width: 0px
		height: 0px
		float: right
		background-color: black
		margin-right: 5%
		margin-top: 2%
	.menu-logo
		display: inline-block
		margin-top: 45px
		img
			width: 100%
			margin-left: -150px	

	.menu-content
		display: inline-block
		font-family: "Roboto", sans-serif
		div
			width: 110px
			float: right
			font-size: $font-size20
			font-weight: bold
			.line
				position: absolute
				bottom: 50%
				width: 100px
				height: 1px
				background-color: black
				display: block;
				margin-top: -0px
				margin-left: 5px




.container
	background-color: $bg-color
	.container-pic
		z-index: 1
		float: right
	.container-text
		position: relative
		z-index: 2
		margin-left: 50px
		top: -340px

		

.la-TendaRossa
	background-color: $bg-color
	padding: 50px 20px 40px 0px
	.la-TendaRossa-pic
		margin-top: 10px
		z-index: 2
		width: 75%

	.la-TendaRossa-inner
		position: relative
		margin-left: 10%
		margin-top: -50px
		img
			width: 25%
		.section-content	
			position: relative
			float: right
			width: 40%
			height: 450px
			background-color: white;
			left: -10%
			margin-top: -500px
			padding: 50px 20px 50px 20px
			line-height: 1.5
			font-size: 19px
			div
				text-align: center
			.rotate-div
				@include rotate-div
			.section-content-logo
				border-top: 1px solid black
				img
					width: 45%
			.content
				text-align: center
				padding-top: 50px
				.rotate-div
					@include rotate-div
					margin-top: 50px
				.content-logo
					width: 250px
			p
				text-align: center

.DISH
	background-color: $bg-color
	padding: 50px
	position: relative
	.inner
		text-align: center
		width: 25%
		display: inline-block
		padding: 30px
		.title
			font-size: $font-size50
			font-family: "Playfair Display", serif
			margin-bottom: 0px
			border-top: 1px solid black	
		.title::first-letter
			color: $title-color
		.rotate-div
			@include rotate-div
		.content
			font-size: $font-size16
			.black
				font-weight: bolder
		.box
			@include box-style
			margin-top: 15px
		
	.DISH-pic
		display: inline-block
		width: 65%
	.DISH-pic1
		position: absolute
		width: 25%
		display: inline-block
		left: 60%
		display: flex
		margin-top: -15%




.WINE
	position: relative
	background-color: $bg-color
	padding: 50px 100px 50px 50px
	height: 450px
	.WINE-pic
		width: 60%
		position: absolute
		display: inline-block
	.WINE-pic1
		position: relative
		width: 25%
		left: 10%
		top: 250px

	.inner
		position: relative
		width: 28%
		text-align: center
		display: inline-block
		float: right
		margin-top: 100px
		.rotate-div
			@include rotate-div
		.title
			font-size: $font-size50
			font-family: "Playfair Display", serif
			margin-bottom: 0px	
			border-top: 1px solid black		
		.title::first-letter
			color: $title-color
		.decoration1
			@include decoration1
		.decoration2
			@include decoration2
		.content
			font-size: $font-size16
		.box
			margin-top: 30px
			@include box-style

.PARTY
	background-color: $bg-color
	position: relative
	padding: 25px
	.inner
		position: relative
		text-align: center
		width: 25%
		display: inline-block
		padding: 30px
		vertical-align: bottom

		.title
			font-size: $font-size50
			font-family: "Playfair Display", serif
			margin-bottom: 0px
			border-top: 1px solid black	
		.title::first-letter
			color: $title-color
		.rotate-div
			@include rotate-div
		.content
			font-size: $font-size16
		.box
			margin-top: 30px
			@include box-style	

	.PARTY-pic
		display: inline-block
		width: 65%

	.PARTY-pic1
		position: absolute
		width: 25%
		display: inline-block
		left: 60%
		display: flex
		margin-top: -15%




.slidebar
	background-color: $bg-color
	padding: 100px 0px 0px 0px
	text-align: center
	width: 100%
	.img-1
		width: 49%
		.img-1-1
			width: 49%
			height: 500px
			background-position: center
			overflow: hidden
			display: inline-block			
			background-image: url("file:///Users/jamesliu/test2/img/section5-left.png")
			background-repeat: no-repeat
			background-color: #f1f1e9
			width: 100%
			display: inline-block
	.img-2
		margin-top: -17px
		margin-left: 49%
		.img-2-1
			width: 49%
			height: 498px
			background-position: center
			overflow: hidden
			display: inline-block			
			background-image: url("https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/pic10.png")
			background-repeat: no-repeat
			background-color: #f1f1e9
			width: 100%
			display: inline-block
			margin-top: -505px

	.slidebar-background
		width: 33%
		padding: 100px
		background-color: rgba(0, 0, 0, 0.8)
		position: relative
		height: 300px
		margin: auto
		margin-top: -505px
		.slidebar-inner
			border-top: 1px solid white
			border-bottom: 1px solid white
			color: white
			font-family: "Playfair Display", serif		
			line-height: 2
			.rotate-div
				@include rotate-div
				background-color: white
				margin-top: 15px
			.title
				font-size: 40px

			.decoration1
				width: 0px
				height: 0px
				border: 5px solid transparent
				border-bottom-color: white	
				margin: auto				

			.decoration2
				width: 0px
				height: 0px
				border: 5px solid transparent
				border-top-color: white
				margin: auto				
		.box
			@include click-border-w
			width: 300px
			margin: auto

.NEWS
	background-color: $bg-color
	padding: 20px
	line-height: 2
	.inner
		width: 45%
		font-size: $font-size20
		margin: 50px

	.title
		font-size: $font-size50
		.title-change
			color: #730004
			letter-spacing: 0.2em

	.content
		text-align: left
		letter-spacing: 0.2em

	.box
		width: 300px
		@include click-border-b
		margin-left: 50px
		font-size: $font-size20
	.Calendar
		width: 45%
		height: 350px
		float: right
		background-color: white
		margin-top: -400px
		.style1
			text-align: center
			width: 81%
			font-weight: bold
			font-size: 30px
			height: 50px
			margin-top: -5px
			margin: auto
			margin-top: 130px
		.style2
			width: 400px
			text-align: center
			margin-top: -30px
			letter-spacing: 3px
.access
	background-image: url( 'https://www.tenda.jp/wp-content/themes/latendarossa-html/dist/assets/images/top/access_bg.png  ' ); 
	width: 100%
	height: 450px
	padding-top: 50px
	#google-maps
		position: relative
		vertical-align: middle
		width: 60%
		height: 400px
		margin-left: 3%

	.access-box	
		@include click-border-w
		font-size: $font-size20
		width: 300px
		margin: auto
	.access-inner
		line-height: 2
		float: right
		color: white
		margin-top: -430px
		margin-right: 100px
		width: 40%
		div
			overflow: hidden
			font-family: "Playfair Display", serif
			font-size: 20px
			margin-top: 10%
			.title
				width: 100px
				float: left

	.access-title
		font-size: $font-size50



.footer
	background-color: $bg-color
	height: 350px
	padding: 50px 30px 0px 30px
	text-align: center
	font-family: "Playfair Display", serif
	.box-title
		font-size: $font-size20
		border-top: 1px solid black
		border-bottom: 1px solid black
		width: 350px
		margin: auto	
		.p1
			color: #730004
		.p2
			margin-left: -4px
	.box-content
		font-size: $font-size20
		line-height: 2.2
		.rotate-div
			@include rotate-div
			margin-bottom: 0px
			margin-top: 10px
	.our-phone
		font-size: $font-size50
	.Community
		width: 200px
		text-align: center
		display: inline-block
		.Community-logo
			width: 20px
			margin-left: 20px
	.copyright
		font-size: 10px












